.pyramid {
  height: 192px;
  width: 120px;
  background: blue;
  position: absolute;
  margin-top: -500px;
  margin-left: 45%;
}

.spot-container {
  background: blue;
  width: 96px;
  height: 30px;
}

.worlds-show-container {
  position: relative;
  width: 800px;
  height: 800px;
  margin-left: 25%;

  img {
    width: inherit;
    height: inherit;
  }

  .spot {
    position: absolute;
    background: red;
    width: 96px;
    height: 96px;
    top: 370px;
    left: 300px;
  }
  .spottwo {
    position: absolute;
    background: blue;
    width: 96px;
    height: 96px;
    top: 280px;
    left: 120px;
  }
}
.worldsIndex h2 {
  position: absolute;
  color: gold;
  top: 1000px;
  left: 880px;
  font-size: 40px;
}

.pokemon {
  position: absolute;
  top: 400px;
  left: 540px;
}

.Worlds {

  color: gold;
  font-size: 150px;
}

.logout {
  position: absolute;
  color: green;
  top: 1500px;

  font-size: 60px;
}
